body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}
.allmenu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    text-align: center;
}
.submitbtn {
    left: 50%;
    margin-right: -50%;
    position: absolute;
    padding-bottom: 20px;
    transform: translate(-50%, 0%);
}
.submitbtn2 {
    background-color: orange;
    border-color: black;
    border-width: 1px;
    height: 35px;
    width: 100px;
}
.inputfield {
    padding-right: 15px;
    padding-top: 10px;
}
.pageheader {
    text-align: center;
    padding-top: 10px;
}
input {
    width: 100%;
    text-transform: capitalize;
}
.wholepage {
    visibility: hidden;
}
.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid orange;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin:0 auto;
    margin-top: 120px;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}