*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../images/humans.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
}
.col-md-4{
    background: rgba(0,0,0,0.8);
    vertical-align: middle;
    border-radius: 3px;
    position: absolute;
    top: 15vh;
}
.input-group{
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group-addon{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    color: gray;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.logobtn {
    padding: 10px;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}
.logoheader {
    background: rgba(0, 0, 0, 0.6);
}