body{
    margin: 0px;
    padding: 0px;
    background: #f2f6e9;
    background-image: url(../images/humans.jpg);
    background-size: 100%;
}
h1{
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
.col-md-3point5{
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    position: absolute;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 75px;
    padding-right: 75px;
    width: 4.3in;
    top: 20vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}
.input-group{
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-control{
    border-radius: 3px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.logobtn {
    margin-left: 22px;
    margin-top: 10px;
    z-index: 11;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}
.btn-primary {
    width: 100%;
    margin-top: 30px;
}
.header .input-group ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(168, 166, 166);
    opacity: 1; /* Firefox */
}
.header .input-group :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(168, 166, 166);
}
.header .input-group ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(168, 166, 166);
}