body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar-light .navbar-collapse .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link:active,
.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link:focus,
.navbar-light .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: black;
}